:root{
  --primary-color: #fff;
  --secondary-color: #1d3557;
  --accent-color-1: #0f4c81;
  --accent-color-2: #a8dadc;
  --alert-color: #e63946;
  --contrast-color: #2c1d57;

    /* --primary-color: #ffffff;
  --secondary-color: rgb(28, 69, 67);
  --accent-color-1: #0f4c81;
  --accent-color-2: #81cee0;
  --alert-color: #15ff00; */

  /* --dark-primary-color: #14123d;
  --dark-secondary-color: #000;
  --dark-accent-color-1: #fca311;
  --dark-accent-color-2: #e5e5e5;
  --dark-alert-color: #fff;

  --primary-color: var(--dark-primary-color);
  --secondary-color: var(--dark-secondary-color);
  --accent-color-1: var(--dark-accent-color-1);
  --accent-color-2: var(--dark-accent-color-2);
  --alert-color: var(--dark-alert-color); */

  /* --primary-color: #fff;
  --secondary-color: #4285F4;
  --accent-color-1: #F4B400;
  --accent-color-2: #0F9D58;
  --alert-color: #DB4437  ; */

  --primary-font: 'Satoshi', sans-serif;
  --mono-font: 'Sometype Mono', monospace;
  --h1-font-size: 2rem;
  --h2-font-size: 1rem;
  --default-texture--background: repeating-linear-gradient( 120deg, var(--primary-color), var(--primary-color) 5px, var(--accent-color-2) 5px, var(--accent-color-2) 10px);

  --status-new: #87CEEB;
  --status-open: #FFD700;
  --status-in-progess: #FF8C00;
  --status-on-hold:  #D3D3D3;
  --status-fixed: #32CD32;
  --status-closed: #DC143C;
  --status-wont-fix: #4B0082;
  --status-duplicate: #2E8B57;
  --status-invalid: #D2691E;

  --priority-urgent: #EB5353;
  --priority-semi-urgent: #F9D923;
  --priority-not-urgent: #36AE7C;
  --priority-informational: #187498;
  --priority-default: #000000;

}

html{
  font-size: calc(1em + 1vw);
}

*{
  font-family: var(--primary-font);   
}
                                    
body{
  margin: 0;
  padding: 0;
  background: var(--primary-color);
}


.add-form{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.add-form-field{
	color: var(--secondary-color);
	font-size: large;
	padding: 5px;
	padding-right: 20px;
	height: max-content;
}
.add-form-submit{
	color: var(--primary-color);
	background: var(--accent-color-1);
	border: 1px solid var(--accent-color-1);
	width: max-content;
	border: transparent;
	align-self: center;
	font-size: large;
	border-radius: 5px;
	font-weight: bold;
	padding: 6px 20px 6px 20px;
}
.add-form-submit:hover{
	background: var(--priamry-color);
	color: var(--accent-color-1);
	transition: ease-in-out 0.3s;
	border: 1px solid var(--accent-color-1);
}
.add-form-submit:active{
	background: var(--accent-color-1);
	color: var(--primary-color);
	border: 1px solid var(--accent-color-1);
}

.content-page{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.navButton{
    text-decoration: none;
    color: var(--primary-color);
    font-size: large;
    font-weight: 500;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: var(--accent-color-1);
    margin: 0.5rem;
    border: 1px solid var(--accent-color-1);
    transition: ease-in-out 0.2s;
}
.navButton:hover{
    background-color: var(--primary-color);
    color: var(--accent-color-1);
    border: 1px solid var(--accent-color-1);
    transition: ease-in-out 0.2s;
}
.navButton:active{
    background-color: var(--accent-color-1);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: ease-in-out 0.2s;
}

.standard-button{
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  border-radius: 0.2rem;
  border: 0.05rem solid;
  transition: ease-in-out 0.2s;
  text-align: center;
  cursor: pointer;
 }
.standard-form-field{
  color: var(--secondary-color);
  background: transparent;
  font-size: large;
  padding: 0.15rem;
  min-width: 6rem;
	height: 1rem;
  border-bottom: 1px solid var(--secondary-color);
  border-top: 0px;border-left: 0px;border-right: 0px;
  transition: ease-in-out 0.2s;
}
.standard-form-field:focus{
  outline: none;
  border-bottom: 2px solid var(--accent-color-1);
  transition: ease-in-out 0.2s;
}